<div class="form-group">
    <a class="btn btn-default" href="{{ path('admin_produits') }}">
        <i class="fa fa-list" aria-hidden="true"></i>
        Retour à la liste produits
    </a>
</div>
<div class="form-group">
    <a class="btn btn-default" href="{{ path('admin_produits_conditionnements', { 'id': produit.id }) }}">
        <i class="fa fa-list" aria-hidden="true"></i>
        Conditionnement(s)
    </a>
</div>
<div class="form-group">
    <a class="btn btn-primary"href="{{ path('produits_new') }}">
        <i class="fa fa-plus"></i>
        Disponibilitée(s)
    </a>
</div>
