
<p class="aside_title">Filtrer par catégorie</p>
<div class="row">
    {% for category in categories %}
        <div class=" col-md-6">
            <a href="{{ path('produitsByCategories', { 'categorySelected': category.libelle }) }}">
                <img class="filter_img img-responsive" src="{{ asset( category.logo) }}" alt="{{ category.libelle}}" />
            </a>
        </div>
    {% endfor %}
</div>
<hr>