{% extends 'layout.admin.html.twig' %}

{% block panel_head %}
    Administration
{% endblock %}

{% block body %}
    <p> La section d'administration permets de gérer le contenue du site.</p>
    <p> Utilisez le menu au dessus pour intérargir avec les différents éléments.</p>
{% endblock %}