<ul class="nav nav-pills " id="admin_menu">
    <li role="presentation" class="active"><a href="#">Home</a></li>
    <li role="presentation"><a href="{{ path('categories') }}">Catégories</a></li>
    <li role="presentation"><a href="{{ path('coordinateurs') }}">Coordinateurs</a></li>
    <li role="presentation"><a href="#">Producteurs</a></li>
    <li role="presentation"><a href="#">Producteurs</a></li>
    <li role="presentation"><a href="#">Producteurs</a></li>
    <li role="presentation"><a href="#">Producteurs</a></li>
    <li role="presentation"><a href="#">Producteurs</a></li>
    <li role="presentation"><a href="#">Producteurs</a></li>
    <li role="presentation"><a href="#">Producteurs</a></li>
    <li role="presentation"><a href="#">Producteurs</a></li>
    <li role="presentation"><a href="#">Producteurs</a></li>
</ul>