<p class="aside_title">Prochaine distribution</p>

<div class="row">
    <div class="col-md-12 article_header">
        Le <span>10 janvier 2016</span> à <span>Salle des fêtes Robert Teyssandier</span> 
    </div>
</div>

<hr>

<p class="aside_title">Dernières publications</p>
{{ render(controller(
        'PanierfoyenBundle:front\\Articles:recentArticles',
        { 'max': 5 }
    )) }}
<hr>