<!DOCTYPE html>
<html>
    {{ include('layout.head.html.twig') }}
    <body>
        <div id="main" class="container">
            {{ include('layout.header.html.twig') }}
            {% block menu_gauche %}
                {{ include('admin_menu.html.twig') }}
            {% endblock %}
            <div id="main_content">
                {% block body %}
                {% endblock %}
            </div>
            {{ include('layout.footer.html.twig') }}  
        </div>
    </body>
</html>

