<!DOCTYPE html>
<html>
    {{ include('layout.head.html.twig') }}
    <body>
        <div id="main" class="container">
            {{ include('layout.header.html.twig') }}
            {% block menu_haut %}
               {# {% set currentPath = path(app.request.attributes.get('_route')) %}
                {% if (currentPath starts with '/admin') or (currentPath starts with '/app_dev.php/admin') %}
                    {{ include('admin_menu.html.twig') }}
                {% endif %}#}
            {% endblock %}
            <div id="main_content">
                {% block panel %}
                {% endblock %}
                {% block body %}
                {% endblock %}
            </div>
            {{ include('layout.footer.html.twig') }}  
        </div>
    </body>
</html>

