<div id="footer" class="row">
    <span>Copyright 2016</span>
    <span id="espaceAdmin">Espace administrateur</span>
</div>
{% block javascripts %}
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
{% endblock %}