{% extends 'layout.html.twig' %}

{% block title %}
    {{ parent() }} - contentDynamic
{% endblock %}

{% block panel_head %}
    {{ contentDynamic.titre }}
{% endblock %}

{% block body %}

    {% if contentDynamic.modified %}
        <h4 class="article_header">
            Dernière modification le <span>{{ contentDynamic.modified|localizeddate('medium', 'none', 'fr') }}</span>
        </h4>
        <hr>
    {% endif %}

    {{ contentDynamic.contenue | raw }}

{% endblock %}

