
.panel-heading{
    background-color: #915e36;
}
.banniere_img{
    width: 120px;
}

#logo{
    width: 180px;
    position: absolute;
    left: 25%;
    z-index: 2;
}

#banniere_bande{
    height: 70px;
    background-color: #549e33;
}

#admin_menu{
}

#main{
    background-color: #ffe5bd;
}

.panel-body{
    background-color: #ffe5bd;
}

#main_content{
    min-height: 500px;
}    

#footer{
    background-color: #915e36;
}

#espaceAdmin{
    float: right;
}