
.banniere_img{
    width: 120px;
}

#logo{
    width: 180px;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    z-index: 2;
}

#banniere_bande{
    height: 70px;
    background-color: #549e33;
}

#admin_menu{
}

#main{
    background-color: #ffe5bd;
}

.panel-heading{
    /*background-color: #915e36;*/
    background-color: #c99e66;
}

.panel-body{
    /*background-color: #ffe5bd;*/
    background-color: #e3c7a1;
}

#main_content{
    min-height: 500px;
}    

#footer{
    background-color: #915e36;
}

#espaceAdmin{
    float: right;
}