{% extends 'layout.html.twig' %}

{% block title %}
    {{ parent() }} - categories index
{% endblock %}

{% block panel_head %}
    Les catégories
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-12">

            <table class="table table-striped table-bordered table-hover table-condensed">
                <thead>
                    <tr>
                        <th>Libelle</th>
                        <th>Logo</th>
                        <th width = "130px">List</th>
                    </tr>
                </thead>
                <tbody>
                    {% for category in categories %}
                        <tr>
                            <td>{{ category.libelle }}</td>
                            <td><img class="banniere_img" src="{{ asset( category.logo) }}" alt="" /></td>
                            <td>    
                                <a title='show' class="btn btn-success btn-sm" href="{{ path('categories_show', { 'id': category.id }) }}">
                                    <i class="fa fa-eye"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>

{% endblock %}

