{% if producteur.contratFile %}
    <div class="form-group">
        <a class="btn btn-default" href="{{ producteur.contratFile }}">
            <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
            Télécharger le contrat PDF
        </a>
    </div>
{% endif %}