{% extends 'layout.html.twig' %}

{% block title %}
    {{ parent() }} - producteur
{% endblock %}

{% block body %}

    {% include 'producteurs/navTab.html.twig' %}

    <div class="panel-body">
        {{ dump() }}

        <hr>
    </div>
    <hr>

{% endblock %}

