{% extends 'layout.html.twig' %}

{% block title %}
    {{ parent() }} - Contact
{% endblock %}

{% block panel_head %}
    Contact
{% endblock %}

{% block body %}

    <div class="alert alert-success ">
        Message envoyé !
    </div>

{% endblock %}