
<p>Filtrer par tag</p>
{% for tag in tags %}
    <div class=" col-md-4">
        <a href="{{ path('articlesByTag', { 'tagLibelle': tag.title }) }}">
            <span {{ (tag.title == tagSelected.title) ? ' class="label label-primary"' }}{{ (tag.title != tagSelected.title) ? ' class="label label-default"' }}>
                {{ tag.title}}
            </span>
        </a>
    </div>
{% endfor %}